{% extends "base.html" %} 
{% block title %}Вопрос о Python # {{ question.id }}{%endblock %} 
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <h1>{{ question.title }}</h1>
      <div class="col-12">
        <div class="markdown-body">{{ question.text|markdown|safe }}</div>
        <p>
          Ссылка на вопрос:
          <a href="{{ url_for('question_view', id=question.id, _external=True) }}">{{ url_for('question_view', id=question.id, _external=True) }}</a>
        </p>
        {% if current_user.is_authenticated and current_user.is_admin %}
        <a class="button d-inline-block mt-3 px-4 py-2 text-decoration-none"
          href="{{ url_for('edit_question_view', id=question.id) }}">
            Редактировать вопрос
        </a>
        {% endif %}
        <a class="button d-inline-block mt-3 px-4 py-2 text-decoration-none"
          href="{{ url_for('random_question_page') }}">
            Следующий вопрос
        </a>
        <img class="img-fluid mx-auto d-block mt-4"
             src="{{ url_for('static', filename='img/illustration.png') }}"
             alt="Иллюстрация к вопросу">
      </div>
    </div>
  </section>
</main>
{% endblock %}
